<div>
  <h1>Hola {{name}}, estos son todos los productos: </h1>
   {{#each users}}
    <div>
        <p>{{this.name}} {{this.lastName}}</p>
    </div>
    <!-- Tengo que cerrar mi iterador cuando termine de usarlo-->
    {{/each}}
</div>